* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.list-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-details .profile-img {
    height: 250px;
    width: 250px;
    margin: 0 auto 20px;
    padding: 4px;
    border-radius: 50%;
    background-color: #f5f6fa;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3) inset;
}

.profile-img img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-details h2, .profile-details h3, .profile-details h4, .profile-details h5, .profile-details h6, .profile-details p {
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
}

.profile-details h2 {
    font-weight: 900;
    font-size: 28px;
}

.profile-details h3 {
    font-weight: 800;
    font-size: 20px;
}

.profile-details h4 {
    font-weight: 700;
    font-size: 18px;
}

.profile-details h5 {
    font-weight: 600;
    font-size: 16px;
}

.profile-details h6 {
    font-weight: 800;
    font-size: 18px;
}

.profile-details p {
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0;
}

.personal-info {
    margin: 40px 0;
}

.personal-info h5 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    /* border-bottom: 1px solid #ddd; */
}

.personal-info h5::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 1px;
    background: #ddd;
}

.skills-listing li {
    position: relative;
    margin: 10px;
    padding-left: 20px;
}

.skills-listing li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #ddd;
}

.skills-listing li h6 {
    margin: 0;
}

.contact-info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 330px;
    padding: 10px 10px 0px;
    border-top: 1px solid #fff;
    background-color: #122831;
}

.contact-info a {
    display: inline-block;
    position: relative;
    margin: 5px;
    padding: 6px;
    height: 25px;
    width: 25px;
    background-color: #ddd;
    border-radius: 50%;
    transition: all .4s ease;
}

.contact-info a i {
    color: #122831;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-info a:hover {
    background: #ffffff;
    transition: all .4s ease;
    box-shadow: 0px 0px 9px 3px rgba(255, 255, 255, 0.2);
}

.project-details h1 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    color: #4a4a4a;
    border-bottom: 2px solid #ddd;
}

.poject-list {
    min-height: 600px;
}

.poject-list a {
    height: 200px;
    width: 300px;
    /* border: 2px solid #ddd; */
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    color: #4a4a4a;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    margin: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all .4s ease;
}

.poject-list a:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all .4s ease;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 4px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

@media only screen and (max-width: 750px) {
    .main {
        position: relative;
        min-height: 100vh;
        padding: 20px 20px 60px;
        background-color: #f5f6fa;
    }
    .main .profile-details {
        background-color: #122831;
        padding: 20px;
        margin-bottom: 40px;
        border-radius: 10px;
    }
    .contact-info {
        width: 100%;
    }
}

@media only screen and (min-width: 750px) {
    .main {
        position: relative;
        min-height: 100vh;
        padding: 20px 20px 20px 350px;
        background-color: #f5f6fa;
    }
    .main .profile-details {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 330px;
        background-color: #122831;
        padding: 20px 20px 60px;
        box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
        overflow-y: auto;
    }
}